* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$maingold: #a98b52;
$poppins: 'Poppins', sans-serif;

@mixin input {
    margin: 0 0 30px 0;
    padding: 15px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    word-spacing: .15em;
    letter-spacing: .01em;
}

body,html {
    overflow-x: hidden;
    overflow: hidden;
    font-size: 16px;
    box-sizing: border-box;
    font-family: $poppins;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2 {
    position: relative;
    color: #fff;
    font-size: 2.375rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.375rem;
    margin-bottom: 60px;
    margin-top: 80px;
}

h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    font-family: $poppins;
}

.section-title::before {
    content: '';
    position: absolute;
    bottom: -7px;
    height: 3px;
    width: 101px;
    background-color: #a98b52;
}

p {
    color: #949494;
    font-weight: normal;
}

input,textarea {
    background-color: #333;
    border: 1px solid #212121;
    color: #949494;
}
.ms-section {
    overflow: hidden;
    background: #212121;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    background-color: #212121;
    overflow-y: hidden;
}

.container {
    width: 83%;
    margin: 0 auto;
}

.right-block {
    display: flex;
    flex-direction: column;
}

.ms-left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    img {
        height: 100%;
    }
}

.ms-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #212121;
    background-image: url('../images/pattern.png');
    position: relative;
}

.index-img {
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.ms-section {
    height: 100vh;
}

#nav-menu {
    position: relative;
    display: flex;
    height: 100vh;
    width: 80px;
    background-color: #212121;
}

.nav-list {
    width: 80px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255,255,255,.05);
    li {
        height: 80px;
        a {
            display: flex;
            width: 100%;
            height: 100%;
            list-style-type: none;
            justify-content: center;
            align-items: center;
            font-size: 1.438rem;
            color: gray;
            border-bottom: 1px solid rgba(255,255,255,.05);
            -webkit-transition: color .2s ease-in-out;
            &:hover {
                color: #fff;
            }
        }
    }
}


#multiscroll {
    display: flex;
    height: 100vh;
    width: 100%;
}

img {
    max-width: 100%;
}

// #section-1 {
//     display: flex;
//     height: 100vh;
// }

// #section-2 {
//     width: 100%;
//     display: flex;
// }

.main-section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.index-right {
    overflow-y: visible;
}


.section-text {
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn {
    display: flex;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: #333;
    padding: 15px 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    border: 3px solid #333;
    &-row {
        display: flex;
    }
    &:hover {
        background-color: #a98b52;
        border: 3px solid #a98b52;
    }
}

.burger {
    display: flex;
    background: $maingold;
    font-size: 2rem ;
    justify-content: center;
    align-items: center;
    // color: #fff !important;
    // background-color: $maingold;
    &:hover {
        cursor: pointer;
    }
}

.menu-icon {
    display: flex;
    flex-direction: column;
    width: 42px;
    height: 34px;
}
.menu-icon span {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #fff;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0, .2);
  transition: .5s;
}
.menu-icon.opened span:nth-child(2) {
  transform: translateX(-50px);
  opacity: 0;
}
.menu-icon.opened span:nth-child(1) {
  transform: rotateY(180deg) rotateZ(45deg) translate(10px, 10px);
}
.menu-icon.opened span:nth-child(3) {
  transform: rotateY(180deg) rotateZ(-45deg) translate(10px, -10px);
}
.menu-icon p {
  display: block;
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #c51960;
  box-shadow: 0 1px 2px rgba(0,0,0, .2);
  backface-visibility: hidden;
  transition: .5s;
}
.menu-icon.opened p.menu {
  transform: rotateY(180deg);
}
.menu-icon p.close {
  transform: rotateY(180deg);
}
.menu-icon.opened p.close {
  transform: rotateY(0deg);
  background-color: #fff;
  color: #f43684;
}

.margin-kill {
    margin-bottom: 0px !important;
}

 .active {
     color: #fff !important;
}

.list-item {
    display: flex;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 20px;
    &__content {
        width: 92%;
    }
}

.list-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 100%;
    background: #333;
    background-image: -webkit-linear-gradient(left,#333,#333,#333,#a98b52);
}

.eye {
    font-size: 0.875rem;
    margin-right: 5px;
}

.price {
    background: #333;
    color: #a98b52;
    padding: 5px 10px;
    font-weight: 600;
}

blockquote {
    padding: 40px;
    position: relative;
    text-indent: 50px;
    font-style: italic;
    font-size: 1.250rem;
    background: #333;
    margin-bottom: 20px;
}

.cite {
    text-align: right;
    font-style: normal;
    font-weight: 700;

}

.blog-img {
    position: relative;
    display: block;
    &:hover .blog-img--meta {
        background: $maingold;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    &--meta {
        position: absolute;
        top: 40px;
        color: #fff;
        font-size: 1.625em;
        font-weight: 700;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 1.875rem 5.000rem;
        background: #212121;
        transition: background .2s ease-in-out;
    }
}


.blog-container {
    margin-bottom: 50px;
}

.blog-date {
    background-color: #333;
    padding: 1.250rem 5.000rem 1.250rem 6.563rem;
    font-weight: bold;
    color: #949494;
    font-size: 1.125rem;
    margin-top: -7px;
    margin-bottom: 10px;
}

.blog-text {
    margin-bottom: 30px;
}

.blog-readmore {
    padding: 5px 0;
    -webkit-transition: all .2s ease-in-out;
    color: #949494;
    font-weight: 700;
    &:hover {
        padding: 5px 15px;
        background-color: $maingold;
        color: #fff;
    }
}

.view-all {
    display: block;
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    background-color: #333;
}

.view-all--link {
    font-weight: 600;
    color: #fff;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    &:hover {
        color: $maingold;
    }
}

.icon {
    margin-right: 7px;
    font-size: 1.125rem;
}

.sorting {
    margin-bottom: 50px;
    &-list {
        display: flex;
        a {
            display: block;
            color: #949494;
            background: #333;
            font-weight: 700;
            padding: 0.938rem 1.250rem;
            font-size: 1.125rem;
            transition: all .2s ease-in-out;
            margin: 0 1px 1px 0;
            &:hover {
                color: #fff;
            }
        }
    }
}

.active-sorting {
    background: $maingold !important;
    color: #fff !important;
}

.grid-item {
    margin-bottom: 20px;
    &--inner {
        a {
            display: block;
            overflow: hidden;
        }
        img {
            transition: all .4s ease-in-out;
            backface-visibility: hidden;
            display: block;
            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
}

figcaption {
    padding: 3%;
    color: #949494;
    background-color: #333;
    text-align: center;
    font-weight: 600;
}

.size {
    width: 46.98%;
}

.contacts {
    
}

.contacts-list {
    margin-bottom: 50px;
}

.contacts-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 70px;
    font-weight: bold;
    color: #949494;
    font-size: 1.125rem;
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 1px;
        width: 100%;
        background: #333;
        background-image: -webkit-linear-gradient(left, #333, #333, #333, #a98b52);
    }
}

.contact-info {
    font-weight: normal;
}

.form-list--item {
 
}

.form-label {
    display: block;
    font-weight: bold;
    color: #949494;
    font-size: 1rem;
    font-weight: 700;
    word-spacing: .15em;
    letter-spacing: .01em;
}



input[type="text"],
input[type='date'] {
    position: relative;
    width: 100%;
    display: block;
    @include input;
}

textarea {
    min-height: 140px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    display: block;
    @include input;
}

.form {
    margin-bottom: 30px;
}

.socials-meta {
   display: none;
    position: absolute;
    bottom: 100px;
    font-size: 1.375rem;
    width: 150px;
    min-height: 50px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: $maingold;
    &:after {
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 55px; 
        bottom: -30px; /* Положение треугольника */
        border: 20px solid transparent;
    	border-top: 20px solid $maingold;
    }
}

.socials {
    position: absolute;
    display: flex;
    width: 400px;
    bottom: 50px;
    right: 50px;
    &-item {
        &:hover .socials-meta {
            display: flex;
        }
        a {
            display: flex;
            width: 80px;
            height: 80px;
            color: #fff;
            font-size: 1.5rem;
            border-right: 1px solid #333;
            background-color: #212121;
            justify-content: center;
            align-items: center;
            transition: color .2s ease-in-out;
            &:hover {
                color: $maingold;
            }
        }
    }    
}


.logo {
    position: absolute;
    top: 37px;
    left: 20px;
    width: 280px;
    height: 280px;
}

hr {
    background-color: #333;
    background-image: -webkit-linear-gradient(left,#333,#333,#a98b52,#a98b52);
    height: 3px;
    border: 0;
    margin-top: 40px;
    margin-left: -82px;
    width: 121%;
}

blockquote:before {
    font-size: 100px;
    speak: none; 
    text-indent: -31px;
    width: 50px;
    height: 50px;
    line-height: 115px;
    position: absolute;
    padding-right: 0px;
    margin-right: 0px;
    text-align: center;
    margin: 0;
    z-index: 1;
    display: inline-block;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    content: "\201C";
    top: -10px;
    left: -10px;
    background-color: #a98b52;
    border: 5px solid #212121;
    color: #fff;
}

.nav-item {
    position: relative;
    &:hover .nav-item--meta {
        display: block;
    }
    &--meta {
        display: none;
        position: absolute;
        color: #fff;
        top: 15px;
        width: 100px;
        padding: 10px;
        left: 100px;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;
        background: #333;
        font-weight: 700;
        &::before {
            content: ''; 
            position: absolute; /* Абсолютное позиционирование */
            left: -19px; 
            bottom: 13px; /* Положение треугольника */
            border: 10px solid transparent;	
            border-right: 10px solid #333;
        }
    }
}

.ms-left img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
#nav-menu {
    z-index: 2;
    top: 0px;
    left: 0px;
}

.sidebar {
    position: fixed;
    z-index: 1;
    left: 0px;
    width: 500px;
    // visibility: hidden;
    transition: all .3s ease-in-out;
    // transition: width 400ms cubic-bezier(0, 0, 1, 1) 0ms;
    // transform: translate(-450px,0);
    transform: translateX(-100%);
    height: 100vh;
    background: #212121;
    // overflow-y: scroll;
    &-opened {
        // transform: translate(80px,0);
        transition: all .3s ease-in-out;
        transform: translateX(16%);
    }
    &--title {
        display: flex;
        align-items: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 	1.188rem;
        min-height: 80px;
        background-color: rgba(255,255,255,.05);
    }
    &-list {
        background-color: #282828;
        &--item {
            display: flex;
            min-height: 53px;
            align-items: center;
        }
    }
    &-link {
        color: #949494;
        font-size: 1.125rem;
        -webkit-transition: all .2s ease-in-out;
        &:hover {
            color: #fff;
        }
    }
    &-search {
        display: flex;
        align-items: center;
        min-height: 150px;
        background-color: #282828;
        &--item {
            display: flex;
            justify-content: space-between;
        }
    }
    &-categories {
        background-color: #282828;
        min-height: 250px;
        display: flex;
        align-items: center;
        &--item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255,255,255,.05);
            min-height: 25px;
            margin-bottom: 18px;
            a {
                color: #949494;
                -webkit-transition: all .2s ease-in-out;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &-tags {
        background-color: #282828;
        min-height: 200px;
        display: flex;
        align-items: center;
    }
}

.searchtext {
    border: 0;
}
.cv-button {
    background-color: rgba(255,255,255,.05);
    color: #fff;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 45px;
    width: 30%;
    border: 0;
    border-left: 1px solid #282828;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    &:hover {
        background-color: #212121;
        cursor: pointer;
    }
}

.tag {
    font-size: 0.938rem;
    border-left: 3px solid rgba(255,255,255,.1);
    background-color: rgba(255,255,255,.05);
    color: #fff;
    opacity: .5;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 7px 2px 7px;
    -webkit-transition: all .2s ease-in-out;
    &:hover {
        opacity: 1;
        background: $maingold;
    }
}

.categories-number {
    color: #fff;
    height: 24px;
    min-width: 24px;
    background-color: #212121;
    border-radius: 5px;
    text-align: center;
    line-height: 24px;
    font-size: 0.813rem;
}

// burger 

#menuToggle {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menuToggle input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 1; /* top of the menu */
  }
  
  #menuToggle span{
    width: 55px;
    height: 8px;
    margin-bottom: 10px;
    background: #7f8fa6;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
  }
  
  #span1 {
    transform-origin: 4px 0px;
  }
  
  #span3 {
    transform-origin: bottom right;
  }
  
  #menuToggle input:checked ~ #span1 {
    background-color: #0c2461;
    transform: rotate(45deg) translate(8px);
  }
  #menuToggle input:checked ~ #span2 {
    background-color: #0c2461;
    transform: rotate(495deg) translate(4px);   
  }
  #menuToggle input:checked ~ #span3 {
    background-color: #0c2461;
    transform: rotate(45deg);
    opacity: 0;
  }


// Адаптив 

@media screen and (max-width: 768px) {
    .main-section {
        flex-direction: column;
        width: 100%;
        overflow-y: scroll;
    }
    .ms-left {
        width: 100%;
        img {
            object-fit: cover;
            font-family: 'object-fit: cover;';
        }
    }
    .ms-right {
        width: 100%;
        overflow-y: visible;
        img {
            object-fit: cover;
            font-family: 'object-fit: cover;';
        }
    }
    .left-index {
        display: none;
    }
    .container {
        width: 88%;
    }
    .logo {
        top: 10px;
    }
}

@media screen and (max-width: 450px) {
    body,html {
        font-size: 14px;
    }
    .container {
        width: 95%;
    }
    #nav-menu {
        width: 60px;
    }
    .ms-left {
        height: 40vh;
    }
    .logo {
        display: none;
    }
    h2 {
        font-size: 2rem;
    }
    .blog-date {
        padding: 1.250rem 5.000rem 1.250rem 1.563rem;
    }
    .blog-img--meta {
        padding: 1.250rem 1.000rem;
    }
    .size {
        width: 97%;
    }
    .sorting-list {
        flex-direction: column;
        a {
            padding: 0.938rem 0;
            font-size: 1.125rem;
            text-align: center;
        }
    }
    .sidebar {
        width: 82%;
    }
    .sidebar-opened {
        transform: translateX(23%);
    }
}


@media screen and (max-width: 550px) {
    .socials-item a {
        width: 50px;
        height: 50px;
    }
    .socials {
        width: 250px;
        bottom: 50px;
        right: 5px;
    }
}